<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <title><%= site_name %></title>
  
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!-- build:js static/js/pre.js -->
  <script src="static/js/header.js"></script>
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>
	<h1><%= site_name %> - Base Template</h1>
	<p>Enjoy!</p>


  
	<!-- build:js static/js/post.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="static/js/footer.js"></script>
  	<!-- endbuild -->
</body>
</html>